* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: rgb(205, 92, 92,0.8);
    height: 7%;
    width: 100%;
    position: relative;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.header .fa-home {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
}

.header .header-search {
    width: 15%;
    height: 60%;
    background-color: hsl(210, 17%, 98%);
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    caret-color: transparent;
    font-size: 2.8vh;
    border-radius: 25px;
    padding-left: 2.5%;
}

.header .fa-search {
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
    color: hsl(210, 17%, 40%);
}

.header .header-ul {
    list-style-type: none;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.header .header-ul li {
    display: inline-block;
    position: relative;
    color: white;
    margin-left: 2%;
    font-size: 2.5vh;
}

.header .header-line,
.drop-line {
    width: 0;
    height: 2px;
    margin: auto;
    border-radius: 20px;
    background-color: #1E150F;
}

.header .header-ul li:hover .header-line {
    width: 100%;
    transition: 0.3s;
}

.header .header-a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
}

.header .header-blog-list {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(205, 92, 92, 0.8);
}

.header .header-blog-list {
    list-style-type: none;
    position: absolute;
    width: 400%;
    left: 0;
    top: 110%;
    padding: 10% 0;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 6;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.header .header-blog-list li {
    padding: 10px;
    display: block;
    color: white;
    font-size: 2vh;
    text-align: center;
}

.header .header-blog-list li a {
    text-decoration: none;
    color: white;
}

.dropdown:hover .header-blog-list {
    visibility: visible;
    opacity: 1;
}

.header .header-blog-list li:hover .drop-line {
    width: 90%;
    transition: 0.3s;
}

.header .header-blog-list li:hover .header-line {
    width: 0;
    transition: 0.3s;
}

.header-blog-list:hover .header-line {
    width: 0;
    transition: 0.3s;
}

/* ---------------------------------------------------------- */

.section1 {
    width: 100%;
    height: 100vh;
    background-image: url('../images/sec1bg2.jpg');
    background-size: cover;
    position: relative;
}

.section1 .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.section1 .section1-content {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 3vh;
}

.section1-content .title {
    font-size: 13vh;
    font-weight: bold;
    margin-bottom: 3vh;
    font-family: 'Courier New', Courier, monospace;
}

.section1-p {
    font-size: 2.5vh;
    margin-bottom: 4vh;
    opacity: 0.7;
    letter-spacing: 3px;
}

.section1-btn {
    padding: 2vh;
    background-color: hsl(210, 17%, 98%);
    color: hsl(210, 17%, 40%);
    border-radius: 17px;
    text-decoration: none;
    font-size: 2.5vh;
    border: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.section1-btn:hover {
    opacity: 0.5;
}

.section1 .btn2 {
    background-color: indianred;
    color: white;
}

.section2 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section2-title {
    position: absolute;
    width: 70%;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4vh;
}

.section2-h2 {
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.section2-line {
    width: 9%;
    height: 4px;
    background-color: indianred;
    margin: auto;
}

.section2-container {
    width: 80%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section2-box {
    width: 30%;
    height: 100%;
    border: 1px solid indianred;
    float: left;
    border-radius: 10px;
    position: relative;
}

.section2 .midBox {
    margin: 0 5%;
}

.section2-box::after {
    content: '';
    position: absolute;

    width: 50%;
    height: 50%;

    top: 0;
    left: 0;

    background-color: indianred;

    opacity: 0;
    pointer-events: none;
}

.section2-box:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.3;
    z-index:1;
    transition: 0.45s;
}

.section2-box-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    text-transform: capitalize;
    padding: 1vh;
    position: relative;
    z-index: 2;
}

.section2-icon {
    font-size: 4vh;
    margin-bottom: 3vh;
    margin-top: -3vh;
    color:indianred;
}

.section2-box .section2-h2 {
    font-size: 4vh;
    margin-bottom: 4vh;
}



.section2-p {
    width: 100%;
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 4vh;
    opacity: 0.7;
}

.section2-box-container a {
    text-decoration: none;
    color: indianred;
    font-size: 3vh;
    font-weight: bold;
}

.section2-box:hover .section2-h2 {
    color: red;
}

.section2-box:hover .section2-h2{
    color:white;
}

.section2-box:hover .section2-p {
    opacity: 1;
    transition: 0.45s;
}

/* --------------------------------------------- */

.section3 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(205, 92, 92, 0.1);
}

.section3-container {
    width: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section3-container .section3-box {
    float: left;
    width: 30%;
    height: 30vh;
    margin-bottom: 5%;
    background-size:100% 100%;
    border-radius: 20px;
    position: relative;
}

.section3-mid-box {
    margin: 0 5%;
}

.section3-box1{
    background-image:url(../images/section31.jpg);
}

.section3-box2{
    background-image:url(../images/section32.jpg);
}

.section3-box3{
    background-image:url(../images/section33.jpg);
}

.section3-box4{
    background-image:url(../images/section34.jpg);
}

.section3-box5{
    background-image:url(../images/section35.jpg);
}

.section3-box6{
    background-image:url(../images/section36.jpg);
}

.section3-overlay-container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.section3-box:hover .section3-overlay-container {
    visibility: visible;
}

.section3-h2 {
    font-size: 4vh;
    font-weight: bold;
    opacity: 0.5;
    position: absolute;
    color:white;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section3-p {
    font-size: 2.5vh;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}

.section3 .icon-container {
    width: 100%;
    height: 15%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section3 a {
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color:indianred;
    font-size: 3vh;
    width: 13%;
    height: 100%;
    border-radius: 10px;
}

.section3 a i {
    line-height: 4.5vh;
}

/* -------------------------------------------------------- */

.section4 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section4-title {
    position: absolute;
    width: 70%;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4vh;
}

.section4-h2 {
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.section4-line {
    width: 9%;
    height: 4px;
    background-color: indianred;
    margin: auto;
}

.section4-container {
    width: 80%;
    height: 30%;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section4-box {
    width: 25%;
    height: 100%;
    border: 1px solid indianred;
    margin-bottom: 5%;
    float: left;
    border-radius: 10px;
    position: relative;
    padding-top:10px;
}

.section4 .midBox {
    margin: 0 12.5%;
}

.section4-box::after {
    content: '';
    position: absolute;

    width: 50%;
    height: 50%;

    top: 0;
    left: 0;

    background-color: indianred;
    ;

    opacity: 0;
    pointer-events: none;
}

.section4-box:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    border-radius: 10px;
    transition: 0.45s;
    z-index:1;
}

.section4-box-container {
    width: 100%;
    color: black;
    text-transform: capitalize;
    padding-top: 3vh;
    position:relative;
    z-index: 2;
}

.section4-icon {
    text-decoration: none;
    color: indianred;
    font-size: 4vh;
    font-weight: bold;
    float: left;
    margin-left: 4%
}

.section4-box .section4-box-h2 {
    font-size: 3.5vh;
    width: 100%;
    margin-bottom: 2vh;
}

.section4-box-content {
    width: 80%;
    float: left;
    margin-left: 3%;
    padding-right: 4px;
}

.section4-p {
    width: 100%;
    font-size: 2.2vh;
    font-weight: bold;
    opacity: 0.5;
}

.section4-box-container a {
    text-decoration: none;
    color: indianred;
    font-size: 4vh;
    font-weight: bold;
}

.section4-box:hover .section4-box-h2 {
    color: indianred;
    transition: 0.45s;
}

.section4-box:hover .section4-p {
    opacity: 1;
    transition: 0.45s;
}

/* ------------------------------------------------- */

.section5 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section5-container {
    width: 80%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section5-content {
    width: 60%;
    height: 70%;
    position: absolute;
    top: 47%;
    left: 0%;
    transform: translateY(-50%);
}

.section5-images {
    width: 30%;
    height: 100%;
    position: relative;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    right: 0;
}

.section5-title-h2 {
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-size: 5vh;
}

.section5-line {
    width: 10%;
    height: 4px;
    margin-bottom: 4%;
    background-color: indianred;
}

.section5-p {
    opacity: 0.5;
    width: 60%;
    font-weight: bold;
    font-size: 2.25vh;
    margin-bottom: 6%;
}

.section5-ul-container ul {
    list-style: none;
    padding-left: 0;
}

.section5-ul-container ul li {
    margin-bottom: 4%;
    font-weight: bold;
    opacity: 0.5;
    font-size: 2.45vh;
}

.section5-ul-container ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: indianred;
    margin-right: 8px;
}

.section5-image-container {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70%;
}

.imagesShow {
    position: absolute;
    width: 100%;
    height: 70vh;
    object-fit: 100% 100%;
    margin-top: -71.5vh;
    margin-left: -13vw;
    border-radius: 5px;
}

.section5-choose {
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.circle {
    width: 5%;
    aspect-ratio: 1/1;
    background-color: indianred;
    border-radius: 50%;
    display: inline-block;
}


.circle1:hover .img1 {
    z-index: 6;
}

.circle2:hover .img2 {
    z-index: 6;
}

.circle1:hover {
    background-color: black;
    transition: 1s;
}

.circle2:hover {
    background-color: black;
    transition: 1s;
}

.circle3:hover {
    background-color: black;
    transition: 1s;
}

.img1 {
    margin-left: -9.40vw;
}

.img2 {
    margin-left: -10.76vw;
}

.img3 {
    margin-left: -12.113vw;
}

/* ------------------------------------------ */

.section6 {
    width: 100%;
    height: 50vh;
    position: relative;
    background-image: url("../images/10.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

.section6-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.section6-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
    font-weight: bold;
    color: white;
}

.section6 .items {
    width: 25%;
    float: left;
    text-align: center;
}

.items i {
    font-size: 6vh;
    margin-bottom: 4%;
    color:indianred
}

/* ----------------------------------------- */

.section7 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section7-content {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section7-box {
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    border: 1px solid indianred;
    border-radius: 10px;
    padding: 2%;
    font-weight: bold;
    font-size: 2.5vh;
    position: relative;
}

.section7 .midBox {
    margin: 0 5%;
}

.section7 ul {
    list-style-type: none;
    text-transform: capitalize;
}

.section7 p {
    text-transform: uppercase;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

.price {
    width: 33.33%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid indianred;
    margin: auto;
    margin-bottom: 3vh;
    position: relative;
}

.section7 ul li {
    margin-bottom: 3vh;
}

.price-btn {
    padding: 1vh;
    font-size: 2.25vh;
    background-color: rgba(205, 92, 92, 0.2);
    color: black;
    font-weight: bold;
    width: 60%;
    border-radius: 10px;
    border: 1px solid indianred;
    position: relative;
    z-index: 2;
}

.section7-box::after {
    content: '';
    position: absolute;

    width: 100%;
    height: 0;

    top: 0;
    left: 0;

    background-color: indianred;
    ;

    opacity: 0;
    pointer-events: none;
}

.section7-container{
    position:relative;
    z-index:2;
}

.section7-box:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.3;
    transition: 0.45s;
    z-index: 1
}

.section7-box:hover .price {
    border: 2px solid black;
    transition: 0.25s;
}

.section7-box:hover .section7-p {
    color: indianred;
}

.centerPrice {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section7-h3-price {
    font-size: 5vh;
}

/* -------------------------------------------------- */

.section8 {
    width: 100%;
    height: 50vh;
    position: relative;
    background-image: url("../images/8.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

.section8-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.section8-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
}

.section8 .item {
    width: 40%;
    float: left;
    color: white;
}

.section8 .item1 {
    margin-right: 20%
}

.info {
    height: 13vh;
}

.data {
    padding-top: 1.25vh;
}

.section8 .images {
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    float: left;
    margin-right: 3%;
    background-size:100% 100%;
}

.section8 .image1{
    background-image: url('../images/22.jpg');
}

.section8 .image2{
    background-image: url('../images/20.jpg');
}

.section8-h3 {
    font-size: 4.5vh;
    font-weight: bold;
}

.info-p {
    font-size: 2.5vh;
    font-weight: bold;
    color: indianred;
}

.section8-p {
    font-size: 2vh;
    font-weight: bold;
    opacity: 0.8;
}

/* ---------------------------------------------------- */

.section9 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section9-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section9-item {
    width: 30%;
    height: 60vh;
    float: left;
    text-align: center;
    position: relative;
    background-color: rgba(205, 92, 92,0.4);;
    border-radius: 10px;
}

.section9 .mid {
    margin: 0 5%;
}

.section9-image-container {
    width: 90%;
    height: 75%;
    margin-left: 5%;
    margin-top: 5%;
    position: relative;
}

.section9-h2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 3vh;
}

.section9-p {
    font-size: 2vh;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.5;
}


.section9-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100%;
}

.section9 .image1{
    background-image: url("../images/section91.jpg");
}

.section9 .image2{
    background-image: url("../images/section92.jpg");
}

.section9 .image3{
    background-image: url("../images/section93.jpg");
}

.section9-icon {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    visibility: hidden;
}

.section9-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;

    top: 0;
    left: 0;

    opacity: 0;
}

.section9-item:hover::after {
    width: 100%;
    height: 79.1%;

    top: 0;
    left: 0;
    background-color: indianred;
    z-index:1;
    opacity: 0.3;
    transition: 1s;
    pointer-events: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.section9-item::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 20.9%;

    top: 79.1%;
    right: 0;

    opacity: 0;
}

.section9-item:hover::before {
    width: 24%;
    height: 20.9%;

    top: 79.1%;
    right: 0;
    background-color: indianred;

    opacity: 0.3;
    transition: 1s;
    pointer-events: none;
    border-bottom-right-radius: 10px;
}

.section9-after{
    position:absolute;
    width: 0%;
    height: 20.9%;

    top: 79.1%;
    left: 0;

    opacity: 0;
}
.section9-item:hover .section9-after {
    width: 24%;
    height: 20.9%;

    top: 79.1%;
    left: 0;
    background-color: indianred;

    opacity: 0.3;
    transition: 1s;
    pointer-events: none;
    border-bottom-left-radius: 10px;
}

.section9-item:hover .section9-icon {
    visibility: visible;
    z-index: 2;
    transition: 1s;
}

.section9-item:hover .section9-h2 {
    color: white;
    transition: 1s;
}

.section9-item:hover .section9-p {
    color: indianred;
    opacity: 1;
    transition: 1s;
}

.section9-icon a {
    font-size: 3vh;
    width: 13%;
    aspect-ratio: 1/1;
    margin-left: auto;
    text-decoration: none;
    background-color: indianred;
    color: white;
    display: block;
}

.section9-icon a i {
    line-height: 6vh;
}

/* --------------------------------------------------- */

.section10 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section10-content {
    width: 80%;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section10-item {
    width: 30%;
    height: 75vh;
    float: left;
    text-align: center;
    font-weight: bold;
    border: 1px solid indianred;
    border-radius: 10px;
    position: relative;
    padding-left: 10px;
    padding-right:10px;
    z-index: 2;
}

.section10 .mid {
    margin: 0 5%;
}

.section10-image {
    width: 80%;
    height: 50%;
    background-image: url("../images/5.jpg");
    background-size: 100% 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.section10 .image1{
    background-image: url('../images/23.jpg');
}

.section10 .image2{
    background-image: url('../images/21.jpg');
}

.section10 .image3{
    background-image: url('../images/24.jpg');
}

.section10 ul {
    list-style-type: none;
    margin-bottom: 5%;
}

.section10 ul li {
    display: inline;
}


.section10 ul li a {
    display: inline-block;
    margin-right: 0.75vh;
    text-decoration: none;
    color: indianred;
    font-size: 2.5vh;
}

.section10 ul .i-mid {
    margin: 0 2vh;
}

.section10-p {
    margin-bottom: 6%;
    margin-top: 7%;
    opacity: .7;
    height: 15%;
}

.section10 .a-read {
    text-decoration: none;
    color: indianred;
}

.section10-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;

    top: 0;
    left: 0;

    opacity: 0;
}

.section10-item:hover::after {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    background-color: indianred;
    z-index: 1;
    opacity: 0.3;
    transition: 1s;
    border-radius: 10px;
    pointer-events: none;
}

.section10-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.section10-item:hover .section10-h3 {
    color: white;
    transition: 1s;
}

.section10-item:hover .section10-p {
    color: indianred;
    transition: 1s;
}

.section11 {
    width: 100%;
    height: 46.5vh;
    position: relative;
    background-color: rgba(205, 92, 92,.3);
}

.section11-content {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section11-image{
    width:21%;
    height:28vh;
    background-image: url("../images/4.jpg");
    background-size:100% 100%;
    margin:auto;
    margin-top:2%;
    margin-bottom:1%;
    border-radius: 10px;
}

.section11-icons{
    margin:auto;
    width:30%;
    background-color: white;
}

.section11-button{
    width:15%;
    aspect-ratio: 1/1;
    background-color: rgba(205, 92, 92,.6);
    border-radius: 50%;
    color:white;
    font-size: 3vh;
    float:left;
    border:transparent;
}

.section11-button:hover{
    background-color: rgba(205, 92, 92,1);
    transition: 0.5s;
}

.section11 .space{
    margin: 0 2%;
}

.section11 .space1{
    margin-right:2%;
}

.section11-p{
    font-weight: bold;
    opacity:0.7;
    text-align: center;
    margin-top:7%;
}